header {
  max-width: 90%;
  margin: 0 auto;
}

.header__container {
  display: grid;
  grid-template-columns: 10% 1fr 20%;
  grid-template-areas: "logo profile profile" "logo categories search";
  grid-gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}

.header__container a {
  color: white;
  text-decoration: none;
  padding: 0 10px;
}

.header__container ol, ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__container--logo {
  grid-area: logo;
  margin: 0;
}

.header__container img {
  width: 110px;
}

.header__container--search {
  grid-area: search;
  color: white;
}

.header__container--profile {
  grid-area: profile;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1em;
  background: linear-gradient(90deg, #000 10%, transparent 50%),
    linear-gradient(180deg, #000 0, #363738);
}

.header__container--categories {
  font-size: 1.5em;
}

@media only screen and (max-width: 700px) {
  header {
    max-width: 90%;
  }

  .header__container {
    grid-template-columns: 20% 1fr;
    grid-template-areas: "logo categories";
  }

  .header__container--search {
    display: none;
  }
  
  .header__container--profile {
    display: none;
  }
}

@media only screen and (min-width: 1400px) {
  header {
    max-width: 65%;
  }
}
