header {
    max-width: 65%;
    margin: 0 auto;
    background: black;
  }
  
  .header-container{
    grid-area: header;
    display: grid;
    grid-template-columns: 10% 1fr 20%;
    grid-template-areas: "logo profile profile" "logo info search";
    grid-gap: 20px; 
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2);
  }
  
  .info{
    font-size: 24px;
  }
  
  .logo{
    grid-area: logo;
    margin:0 0 0 15px;
  }
  
  
  .header-container img {
    width: 85px;
  }
  
  .search{
    grid-area: search;
    position:relative;
    color:white;
  }
  
  .profile{
    grid-area: profile;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    font-size: 16px; 
    background: linear-gradient(90deg,#000 10%,transparent 50%),linear-gradient(180deg,#000 0,#363738);
  }
  
  .profile img {
    margin-left: 15px;
  }
  
  ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .header-container a {
    color: white;
    text-decoration: none;
  }
  
  .header-container ol {
    display: flex;
    height: inherit;
  }
  
  .header-container a {
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 10px;
  }
  